body {
	margin: 15px 15px 15px 15px!important;
}

#leftColumn {
    float: left;
    width: 25%;
    height: 400px;
    
}

#rightColumn {
    float: left;
    height: 400px;
    width: 75%;
   
}

.listing {
    
}
.info {
    float: left;
    width: 100%;
}

.priceBox {
  width: 64px;
  height: 44px;
  background-color: #ffffff;
  border: solid 1px #e1e1e1;
}