@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=Roboto);

h1,h2,h3,p {
	color: #222222;
}

h1 {
    font-size: 42px;
    line-height: 42px;
    font-family: 'PT Serif', serif;
}

h2 {
    font-size: 28px;
    line-height: 36px;
    font-family: 'PT Serif', serif;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: 'PT Serif', serif;
    margin-top: 40px;
}

p, span, ul li {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 26px;
}

ul {
	padding-left: 0px;
	color: #d8d8d8;
}

ul p {
	color: #222222;
}

li {
	margin-bottom: 15px;
}

#topImageSection {
    height: 300px;
    width: 100%;
}

#description {
	margin-top: 22px;
	margin-bottom: 30px;
}

#description p {
	margin-bottom: 20px;
}

#aptTitle {
	margin-top: 0px;
}

.centerPage {
    width: 90%;
    margin-left: 5%;
    float: left;
    display: inline;
    margin-top: 66px;
}

#leftColumn {
    width: 70%;
    float: left;
}

#rightColumn {
    width: 20%;
    float: left;
    margin-left: 5%;
}

.sliderImg {
    background-size: contain;
    float:left;
    max-height: 300px;
    width: auto;
}

.noBullet {
	list-style-type: none;
}

.bathroom {
	background: url('../img/bathroom.svg') no-repeat left top;
	padding-left: 30px;
}

.bedroom {
	background: url('../img/bedroom.svg') no-repeat left center;
	padding-left: 35px;
}

.washer {
	background: url('../img/bedroom.svg') no-repeat left center;
	padding-left: 35px;
}

.mail {
	background: url('../img/email.svg') no-repeat left center;
	padding-left: 40px;
}

.phone {
	background: url('../img/phone.svg') no-repeat left center;
	padding-left: 40px;
}

.firstList {
	padding-left: 0px;
}

.firstList ul {
	padding-left: 30px;
}

#priceAndContact {
    background-color: #f0f0f0;
    border: solid 1px #e1e1e1;
    width: 286px;
    height: auto;
    padding: 30px;
}

#priceAndContact h1 {
	margin-top: 0px;
	margin-bottom: 0px;
    display: inline-block;
}

#priceAndContact span {
	position: relative;
    left: 13px;
    bottom: 9px;
}

#contactList {
	margin-top: 22px; 	
}

#googleMaps {
    width: 100%;
    height: 100%;
}

.price {
    font-size: 250%;
    margin: 5%;
}

#amenitiesList {
    float: left;
}

#amenities {
    border-top: 1px solid #d9d9d9;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

#facts {
     border-top: 1px solid #d9d9d9;
}

#resultsMap {
	margin-top: 40px;
    height: 234px;
    width: 286px;
}

#resultsGoogleMaps {
    height: 100%;
    width: 100%;
}

#address {
	margin-top: 10px;
	width: 286px;
}
