#leftColumn {
    float: left;
    width: 20%;
    height: 400px;
    margin-left: 100px;
}

#rightColumn {
    float: left;
    width: 64%;
    margin-left: 30px;
}

.listing {
    
}
.info {
    float: left;
    width: 100%;
}



.thumb {
    height: 181px;
    width: 181px;
}

.listingStyleRight {
    float: left;
    width: 77%;
}

.listingStyleLeft {
    float: left;
    height: 181px;
    padding-bottom: 30px;
}
